{% extends 'base.html' %}

{% block main %}

{% if error %}
<div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>{{ heading }}</strong> {{ error }}
</div>
{% endif %}


<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mx-auto">
      <form class="border border-dark my-5 p-3"  action="{{ url_for('register') }}" method="POST">
        <h3 class="mb-4">Sign Up</h3>
        <!-- UserName -->
        <input type="text" name='name' class="form-control mb-3" placeholder="User name" minlength="2" maxlength="30" required>
        <!-- E-mail -->
        <input type="email" name="register_email" class="form-control mb-3" placeholder="E-mail" required>
        <!-- Password -->
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" minlength="4" maxlength="20" required>
        <!-- Sign up button -->
        <button class="btn btn-info mb-3 btn-block" type="submit">Sign up</button>
        <p>
        <a href="{{ url_for('signin') }}">Already a member? Sign In</a>
        </p>
      </form>
    </div>
  </div>
</div>
<!-- Default form register -->
{% endblock %}
